/* Background */
.main-bg {
    height: 75vh;
    width: 100%;
    background-image: url("/Users/charankurukuntla/Downloads/background.jpeg");
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
  }

  /* Center container */
  .login-container {
    width: 56%;
    height: cover;
    background: whitesmoke;
    border-radius: 15px;
    display: flex;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  /* Form section */
  .login-box {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .login-box h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-box input {
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .login-box button {
    background:#1C6EA4;
    border: none;
    padding: 12px;
    margin-top: 10px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-box button:hover {
    background: #1a5ed8;
  }
  
  .switch-text {
    margin-top: 10px;
    text-align: center;
  }
  
  .switch-text span {
    color: #2575fc;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Image section */
  .image-box {
    width: 50%;
    background:#4a7a7c;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
  }
  .home-page{
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 6px;
  }
  .btn{
    margin-right: 92%;
    margin-top: -150px;
  }
  